# Build outputs
rns-tcp-iface
rns-udp-iface
examples/tcp/tcp
examples/udp/udp

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# tests
.venv*/
venv/
.pytest_cache/
coverage.out
.coverage
htmlcov/
__pycache__/
*.pyc

# Hugo
public/
docs/public/
.hugo_build.lock
docs/.hugo_build.lock

# local tools
.claude/
